.c-button {
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: .05rem;
  margin: 0;
  min-height: 36px;
  min-width: 88px;
  outline-color: #10558c;
  padding: 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
}