@import '../utilities/transitions.utility';
@import '../utilities/colors';

// Flat Styles
.c-button {
  color: rgba(0, 0, 0, .8);
  font-weight: 500;
  text-transform: uppercase;
  transition: all $leaving-transition;

  &:hover {
    background-color: rgba(158, 158, 158, 0.2);
    transition: all $entering-transition;
  }

  &:active {
    background-color: rgba(158, 158, 158, 0.4);
    transition: all $entering-transition;
  }

  &.primary {
    color: $blue-500;
  }

  &[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, .3);
  }

  &.warn {
    color: $deep-orange-500;
  }
}

.c-button--outline {
  border: 2px solid $accent-color;
  color: $accent-color;
  background: transparent;
  border-radius: 2px;

  &:before {
    background-color: $accent-color;
    content: '';
    display: inline;
    transform: scaleY(0);
    transition: transform $leaving-transition;
    transform-origin: 50% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    will-change: transform;
    z-index: 0;
  }

  &:hover {
    color: #ffffff;

    &:before {
      transform: scaleY(1);
      transition: transform $leaving-transition;
    }
  }

  span {
    z-index: 1;
  }
}