@import '../utilities/transitions.utility';

.c-card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  border-radius: 2px;
  flex-direction: column;
  position: relative;

  &:focus,
  &:active {
    outline-color: #10558c;
  }

  &.hoverable {
    cursor: pointer;
    transform: translateY(0);
    //box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
    transition: $leaving-transition;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
      transition: $entering-transition;
    }
  }
}