@import '../utilities/transitions.utility';
@import '../utilities/colors';


.c-navigation--fixed {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
}

.c-navigation {
  justify-content: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 60px;

  li {
    align-items: center;
    display: flex;
    height: 60px;
    overflow: hidden;
    position: relative;
    transition: .25s cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      bottom: 0;
      content: '';
      height: 0;
      position: absolute;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      transition: .25s cubic-bezier(0.4, 0, 0.2, 1);

      background-color: $accent-color;
    }

    &.active {
      color: $accent-color;

      &::after {
        height: 3px;
      }
    }
  }

  a {
    color: inherit;
    font-family: 'Muli', sans-serif;
    padding: 1em;
    transition: $entering-transition;

    &:hover {
      color: $accent-color;
    }
  }
}

@media all and (max-width: 800px) {
  .c-navigation {
    //justify-content: space-around;
  }
}

@media all and (max-width: 767px) {
  .c-navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .c-navigation a {
    text-align: center;
    font-size: 18px;
    padding: 18px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .c-navigation li:last-of-type a {
    border-bottom: none;
  }
}

.c-side-navigation {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
