// Utilities
@import 'utilities/box-sizing.utility';
@import 'utilities/normalize.utility';
@import 'utilities/reset.utility';
@import 'utilities/transitions.utility';
@import 'utilities/visibility.utility';

// Components
@import 'components/button.component';
@import 'components/card.component';
@import 'components/navigations.component';
@import 'design/buttons.design';
@import 'design/card.design';
@import 'design/navigation.design';

// Elements
@import 'elements/headings.element';
@import 'elements/image.element';
@import 'elements/text.element';

// Objects
@import 'objects/media.object';
@import 'objects/grid.object';

// Colors

$accent-color: #10558c;
$background-color: #FFFFFF;
$border-color: #EAEBEE;
$white-smoke: #F2F2F2;
$eternal-constance: linear-gradient(to top, #09203f 0%, #537895 100%);

html {
  margin: 0;
  font-family: 'Roboto', sans-serif;


  &::selection {
    background-color: $white-smoke;
  }
}

body {
  background-color: $background-color;
  color: $accent-color;
  margin: 0 auto;
  padding-top: 56px;
  position: relative;
  z-index: 0;

  @media all and (max-width: 768px) {
    padding-bottom: 80px;
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color;
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

a {
  color: $accent-color;
  cursor: pointer;
  text-decoration: none;
}

p {
  color: $accent-color;
  font-weight: 300;
  letter-spacing: .02rem;
  line-height: 1.6;
}

button {
  color: $accent-color;
}

.bold {
  font-weight: 600;
}

.is-hidden {
  display: none!important;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.u-margin--bottom--1rem {
  margin-bottom: 1rem!important;
}

.u-margin--bottom--4rem {
  margin-bottom: 4rem!important;
}

.u-section-centering-block {
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 1200px;
  }
}

//************
// Navigation
//************

nav {
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  nav {
    background-color: $background-color;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.12);
    min-height: 60px;
  }
}

.c-navigation {
  flex-grow: 1;
  transition: $leaving-transition;
  overflow: hidden;
  min-height: 60px;
  align-items: center;

  background-color: $background-color;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 25px 0;
    min-height: 56px;
    justify-content: flex-start;
  }

  .c-navigation__logo {
    max-width: 90px;
    position: absolute;
    left: 6px;
    top: 0;
    opacity: 0;
    transition: 100ms ease-out;
  }

  li a {
    color: inherit;
  }

  &.scrolled {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.12);
    transition: $entering-transition;


    .c-navigation__logo {
      opacity: 1;
      transition: 1s ease-out;
    }
  }

  li a:first-child {
    padding-left: 0;
    transition: $leaving-transition;
  }

  .quick-access-contact {
    bottom: 0;
    cursor: pointer;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;

    box-shadow: 0 -2px 2px rgba(0, 0, 0, .2);

    a {
      padding: 24px 12px;
    }

    li {
      height: 70px;
      text-align: center;
      width: 100px;
    }
  }
}

.c-button--mobile-menu {
  color: $accent-color;
}

.scrollspy-display {
  display: none;
  position: relative;
  height: 40px;
  min-width: 200px;
  max-width: 50%;
  overflow: hidden;
  margin-top: 10px;

  @media (max-width: 768px){
    display: inline-block;
  }

  &:before, &:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 30%;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    transition: 0s 0.5s;
  }

  a {
    display: block;
    height: 40px;
    outline: none;
    padding: 7px 18px;
    font-size: 22px;
  }
}

//************
// Header
//************

.o-header {
  //background-color: #141415;
  //background-color: #03030e;
  background-color: $background-color;
  color: #FFFFFF;
  display: flex;
  //height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .o-header__headline {
    align-items: flex-end;
    display: flex;
    left: 15%;
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 250px;
    padding: 0 12px 12px;
    transform: scaleY(0);

    animation: headliner-box .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    animation-delay: 500ms;
    background-color: rgba(16, 85, 140, .8);
    border: 4px solid #ffffff;
    border-radius: 2px;

    @media all and (max-width: 600px) {
      width: 150px;
      height: 150px;

      h1 {
        font-size: 1.5rem;
      }
    }

    h1 {
      animation-delay: .8s;
      color: #FFFFFF;
    }

    span {
      //color: #ffc003;
    }
  }

  .overlay {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    background-color: rgba(16, 85, 140, .5);
  }

  &::before {
    content: "";
    height: 20rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 85%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 2;
    animation: rotate-up-right .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    //transform: rotateZ(7deg);

    background: #FFFFFF;
    box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    height: 20rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 2;
    animation: rotate-up-left .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    //transform: rotateZ(-6deg);

    background: #FFFFFF;
    box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.1);
  }
}

@keyframes headliner-box {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

@keyframes rotate-up-right {
  100% {
    transform: rotateZ(7deg);
  }
}

@keyframes rotate-up-left {
  100% {
    transform: rotateZ(-6deg);
  }
}

.o-content {
  margin: 0 auto;
}

//************
// Section
//************

.o-section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 0;
  position: relative;
  overflow-y: hidden;
  z-index: 2;

  @media all and (min-width: 768px) {
    padding: 150px 0;
  }
}

.o-section--full {
  background-color: #f9f9f9;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    height: 20rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 55%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 1;
    transform: rotateZ(9deg);

    background: #FFFFFF;
    box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    height: 20rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 125%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 1;
    transform: rotateZ(-8deg);

    background: #FFFFFF;
    box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.1);
  }
  @media all and (max-width: 768px) {
    &::before {
      left: -5%;
      right: -20%;
      top: 30%;
    }

    &::after {
      left: -30%;
      right: -7%;
      top: 83%;
    }
  }
  @media all and (max-width: 600px) {
    &::after {
      height: 40rem;
      left: -30%;
      right: -7%;
      top: 71%;
    }
  }

}

.c-section__title {
  margin-bottom: 12px;
}

.c-section__text {
  margin-bottom: 24px;

  font-size: 18px;
}

//************
// PDF
//************
.pdf {
  display: flex;
  justify-content: center;
}

object {
  height: 800px;
  width: 100%;
}

//************
// Dialog
//************

.c-dialog {
  background-color: $background-color;
  border: 1px solid $accent-color;
  color: $accent-color;
  display: flex;
  min-height: 350px;
  flex-direction: column;
  left: calc(50vw - 300px);
  justify-self: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: calc(50vh - 400px);
  width: 600px;
  z-index: 10;
  transition: $leaving-transition;
  transform: scaleY(0);
  transform-origin: top center;
  //transition-delay: 300ms;

  @media (max-width: 600px) {
    left: 0;
    height: auto;
    top: calc(50vh - 35%);
    width: 100%;
  }

  &.is-open {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: all;
    transition: $entering-transition;
  }
}

.overlay--dialog {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  transform: scale(0);
  transform-origin: top center;
  top: 0;
  width: 100%;
  z-index: 9;

  background-color: rgba(0, 0, 0, .5);
  transition: transform $entering-transition, opacity 100ms;

  &.is-visible {
    opacity: 1;
    transform: scale(1);
    transition: transform $entering-transition, opacity 1000ms;
  }
}

//************
// Centering Block
//************

.o-container--centering-block {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  align-items: center;
  text-align: left;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    align-items: center;
    margin-bottom: 0;
  }
}

.o-centering-block {
  max-width: 440px;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 30px;
  }
}

.o-centering-block--image {
  display: flex;
  align-items: center;
  height: 100%;
}

//************
// Map
//************

.container--map {
  position: relative;
  width: 100%;
  height: 100%;

  box-shadow: 0 1px 7px rgba(0, 0, 0, .1), 0 -1px 7px rgba(0, 0, 0, .1);
}

.map {
  background-color: #9e9e9e;
  min-height: 400px;
  width: 100%;
}

.angebot .o-section {
  padding-top: 50px;
}

.contact {
  .o-media {
    height: 102px;
    text-align: center;
  }

  .cards {
    .o-column {
      @media all and (min-width: 600px) {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.o-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}