@import "scss/reset.utility";
@import "scss/normalize.utility";
@import "scss/image.element";

$baseline: 6px;
$accent-color: #033F63;
$brandColor: #00ae80;
//$main-text-color: #010d15;
//$main-text-color: rgb(15, 17, 38);
// $main-text-color: rgb(11, 37, 86);
$main-text-color: rgb(57, 63, 73);
$font-size: ($baseline * 3) - 4;
$base-transition: 300ms ease-out;
$good-background: #eff4f7;

:root {
  --baseline: 6px;
}

html {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

small {
  font-weight: 300;
  letter-spacing: .03rem;
}

p {
  letter-spacing: .02rem;
}

body {
  display: block;
  margin: 0;
  position: relative;
  z-index: 0;
  font-size: $font-size;
  color: $main-text-color;
  overflow-x: hidden;

  @media all and (min-width: 768px) {
    padding-top: $baseline * 12;
  }

}

button {
  align-items: center;
  display: inline-flex;
  font-weight: 700;
  border-radius: 25px;
  border: 0;
  padding: var(--baseline) calc(var(--baseline) * 4);
  font-size: 14px;
  color: $brandColor;
  cursor: pointer;
  outline-color: $brandColor;
}

input {
  font-size: 18px;
  color: $main-text-color;
  border: 0;
  padding: 6px 0;
  line-height: 1.5;
  margin-right: 24px;
  border-bottom: 1px solid transparent;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 6px 12px;
  width: 100%;

  &:focus {
    border-color: $main-text-color;
    outline: 0;
  }
}

.inputBlock {
  display: inline-block;
  position: relative;
  padding: 6px 0;
  margin-right: 18px;

  input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 6px 12px;

    &:focus {
      border-color: $main-text-color;
      outline: 0;
    }

    &:focus + label {
      color: $main-text-color;
    }
  }

  label {
    position: absolute;
    top: 0px;
    background: #fff;
    border-radius: 12px;
    font-size: 12px;
    left: 9px;
    z-index: 10;
    padding: 0 6px;
    color: #969494;
    letter-spacing: .03rem;
  }
}

td,
th {
  padding: calc(var(--baseline) * 3) calc(var(--baseline) * 4) calc(var(--baseline) * 3) calc(var(--baseline) * 2);
  text-align: left;
  font-size: 16px;
}

th {
  padding-bottom: 0;
  letter-spacing: .03rem;
  font-size: 18px;
  font-weight: 700;
}

tr:nth-child(even) {
  background: $good-background;
}

.tableContainer {
  margin: 0 -12px;

  h4 {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-weight: 600;
    width: 100%;

    &::after {
      content: '';
      height: 1px;
      position: absolute;
      background-color: rgba(11, 37, 86, .2);
      width: 90%;
      top: 8px;
      left: 124px;
    }
  }

  table {
    margin-top: 6px;
    width: 100%;
  }

  .tableHeader {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;

    .addNew {
      position: absolute;
      top: 0px;
      left: 124px;
      padding: 6px 6px 6px 42px;
      height: 50px;
      width: 50px;
      transition: 125ms ease-out;
      transition-delay: 250ms;
      background-color: #FAAB1A;
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, .1);
      border: 0;
      transform: translateY(0);

      &::before {
        content: url("./assets/images/plus.svg");
        position: absolute;
        left: 13px;
        top: 13px;
      }

      span {
        opacity: 0;
        //width: 0;
        position: absolute;
        transition-delay: 1.5s;
        transition: 325ms ease-out;
        color: #0b2556;
      }

      &:hover {
        padding: 6px 18px 6px 42px;
        width: 128px;
        transition-delay: 0ms;
        transform: translateY(-2px);
        cursor: pointer;

        span {
          opacity: 1;
          transition-delay: 1s;
          transition: 525ms ease-out;
        }
      }

      &:active {
        transform: translateY(2px);
        outline: 0;
        box-shadow: none;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.contentWrapper {
  //margin: 0 $baseline * 5;
  //overflow-x: hidden;
  opacity: 0;
  animation: fadeEffect 500ms;
  animation-delay: 800ms;
  animation-fill-mode: forwards;

  @media all and (min-width: 500px) {
    //margin: 0 $baseline * 12;
  }
}

p {
  line-height: 1.5;
}

.topNavigation {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  height: 72px;
  top: 0;
  z-index: 11;
  transition: $base-transition;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);

  @media all and (min-width: 768px) {
    display: block;
  }

  .menu {
    border-bottom: 3px solid transparent;
    transition: $base-transition;
  }
}

.mobileNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  height: 72px;
  bottom: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: 225ms ease-out;

  @media all and (min-width: 768px) {
    display: none;
  }

  svg {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }

  &.sideNavIsOpen {
    transform: translateX(-280px);
  }
}

.mobileNavigation__container {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 300px;
  background: #fff;
  z-index: 10;
  transform: translateX(100%);
  transition: $base-transition;

  &.isVisible {
    transform: translateX(0%);
  }

  .menu {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  height: 100%;
  margin: 0 $baseline * 12 0 $baseline * 4;
}

.menu__item {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 24px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .01rem;

  &.brandLogo {
    padding: 0 60px 0 0;
  }

  svg {
    margin-right: $baseline * 2;
  }
}

.brandLogo {
  padding: 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.sideNav {
  display: flex;
  position: fixed;
  width: 280px;
  left: 0;
  top: 72px;
  height: 100%;
  flex-direction: column;
  z-index: 10;
  background-color: #FFFFFF;
  padding-top: 24px;
  //border-right: 1px solid rgba(0, 0, 0, .1);
  transition: 225ms ease-out;

  @media all and (max-width: 768px) {
    transform: translateX(100%);
    right: 0;
    left: initial;
    top: 0;
    border-left: 1px solid #e8eaed;
  }

  &.isOpen {
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
    margin: 0;
    display: block;
  }

  .menu__item {
    height: 42px;
    width: 95%;
    margin: $baseline * 2 0;
    cursor: pointer;

    @media all and (max-width: 768px) {
      margin: $baseline * 2 $baseline * 3;
    }

    &.active {
      background: rgba(0, 174, 128, .2);
      color: #004e39;
      border-radius: 0 25px 25px 0;
      @media all and (max-width: 768px) {
        border-radius: 25px 0 0 25px;
      }
    }

    

    &:first-child {
      margin-top: 0;
    }
  }
}

.content {
  display: block;
  padding: $baseline * 4 0 30px 280px;
  //background-color: #f1f1f1;

  @media all and (max-width: 768px) {
    padding: $baseline * 4 0 30px 0;
    transform: translateX(0);
    transition: 225ms ease-out;
  }

  &.sideNavIsOpen {
    @media all and (max-width: 768px) {
      transform: translateX(-280px);
    }
  }

  h1 {
    margin-top: $baseline; 
    font-weight: 700;
  }

  .contentTab {
    margin: 0 auto;
    position: relative;
    max-width: $baseline * 178;
    padding: 0 $baseline * 4;
  }
}

.customerInfo {
  font-size: 24px;
  min-height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 30px 0 42px;
  margin-left: 30px;
}

.buy,
.sell {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
  }
}

.customerName {
  display: flex;
  align-items: center;
  margin-right: 12px;

  .selectContainer {
    position: relative;

    label {
      position: absolute;
      top: -6px;
      background: #fff;
      border-radius: 12px;
      font-size: 12px;
      left: 9px;
      z-index: 9;
      color: #969494;
      letter-spacing: .03rem;
      padding: 0 6px;
    }

    &::after {
      content: url("./assets/images/chevron-down.svg");
      position: absolute;
      pointer-events: none;
      top: 9px;
      right: 6px;
    }
  }

  select {
    font-size: 14px;
    border: 1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px 36px 9px 12px;
    cursor: pointer;
    border-color: #dbdbdb;
    background: transparent;

    &:focus {
      border-color: $main-text-color;
      outline: 0;
    }
  }
}

.expandableItem__container {

  .addNew {
    position: absolute;
    top: -26px;
    left: 0;
    padding: 6px 6px 6px 42px;
    height: 50px;
    width: 50px;
    transition: 125ms ease-out;
    transition-delay: 250ms;
    background-color: #FAAB1A;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, .1);
    border: 0;
    transform: translateY(0);

    &::before {
      content: url("./assets/images/plus.svg");
      position: absolute;
      left: 13px;
      top: 13px;
    }

    span {
      opacity: 0;
      //width: 0;
      position: absolute;
      transition-delay: 1.5s;
      transition: 325ms ease-out;
      color: #0b2556;
    }

    &:hover {
      padding: 6px 18px 6px 42px;
      width: 128px;
      transition-delay: 0ms;
      transform: translateY(-2px);
      cursor: pointer;

      span {
        opacity: 1;
        transition-delay: 1s;
        transition: 525ms ease-out;
      }
    }

    &:active {
      transform: translateY(2px);
      outline: 0;
      box-shadow: none;
    }

    &:focus {
      outline: 0;
    }
  }
}

.expandableItem {
  //min-height: 78px;
  background: #fff;
  // border-bottom: 1px solid #dbdbdb;
  transition: 225ms ease-out;
  border-radius: 0;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;

  &:hover {

    .expandableItem__header {
      cursor: pointer;
    }
  }

  &.isExpanded {
    margin: 12px -12px 30px;
    box-shadow: 0 10px 20px 1px rgba(11, 37, 86, 0.1), 0 -3px 20px 1px rgba(11, 37, 86, 0.15);
    border-color: transparent;
    border-radius: 9px;
    padding: 12px;

    .expandableItem__header {
      padding-bottom: 18px;
      // border-color: rgba(11, 37, 86, .2);
      margin-bottom: 18px;

      input {
        border-color: $main-text-color;
      }
    }

    .expandableItem__content {
      max-height: none;
      width: 100%;
      //padding-top: 6px;
      padding-bottom: 12px;
    }
  }
}

.expandableItem__content {
  max-height: 0;
  padding: 0 0 0 30px;
  transition: 325ms ease-out;
  overflow: hidden;
}

.expandableItem__header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  transition: 225ms ease-out;
  padding: 12px 0 12px;
  border-bottom: 1px solid transparent;
}


.expandableItem__price,
.expandableItem__name,
.expandableItem__details {
  font-size: 18px;
  width: 206px;
}

.expandableItem__name,
.expandableItem__price {
  width: 206px;
}

.expandableItem__details {
  width: 400px;
}

.expandableItem__price,
.expandableItem__name,
.expandableItem__details,
.expandableItem__action {
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expandableItem__price p,
.expandableItem__name p,
.expandableItem__detailsList {
  flex-wrap: wrap;
}

.expandableItem__price {
  margin-left: 30px;
}


.expandableItem__detailsList {
  display: flex;

  p {
    margin: 0 0 0 12px;

    &:first-child {
      margin: 0 12px 0 0;
    }
  }
}

.expandableItem__action {
  position: absolute;
  right: 36px;
  display: flex;
  height: 54px;
  width: 54px;
  border-radius: 8px;
  transition: 225ms ease-out;
  background-image: url("./assets/images/trash.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.removeItem {
  background-image: url("./assets/images/trash.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
  border-radius: 8px;
  transition: 225ms ease-out;
  display: table-cell;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.saveButton {
  padding: 12px 30px;
  border-radius: 8px;
  border: 2px solid;
  cursor: pointer;
  transition: 225ms ease-out;
  margin-bottom: 12px;

  &:hover {
    background: rgba(0, 0, 0, .1);
    //color: #FAAB1A;
    //border-color: #FAAB1A;
  }
  &:active {
    background: #fff;
    outline: 0;
    /* border: 1px solid; */
    box-shadow: 1px 5px 20px rgba(0, 0, 0, .2);
    border-color: transparent;
  }

  &:focus {
    outline: 0;
  }
}

footer {
  height: 72px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: $accent-color;
  letter-spacing: .1rem;
  color: #fff;
}

.contentTab {
  animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.chartContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 984px;
  margin-bottom: $baseline * 4;

  .chart:first-child {
    margin-left: 0
  }
}

#summaryChart {
  margin-left: 0;
}

.charts {
  h3:first-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 18px;
  }
}

.chart {
  border: 1px solid #e8eaed;
  border-radius: 8px;
  margin: 0 12px 12px 0;
  overflow: hidden;

  @media all and (max-width: 1006px){
    width: 100%;
  }
}

.transactions {
  display: flex;
  margin-bottom: 24px;

  @media all and (max-width: 768px){
    flex-direction: column;
  }
}

.charts,
.transactions,
.activities,
.accountSettings,
.balance {
  padding: 30px 24px;
  border: 1px solid #e8eaed;
  border-radius: 8px;
}

.balance {
  margin-bottom: 24px;

  .balance__card {
    padding: 12px;
    border: 1px solid #e8eaed;
    border-radius: 8px;
  }
}

h3 {
  font-weight: 700;
  margin: 0.67em 0;
  font-size: 1.225rem;
  margin-top: 6px;
}

.inputBlock input {
  margin-right: 12px;
}

.accountSettings {
  h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
  }

  .setting {
    margin-top: 24px;
  }

  .setting__content {
    display: flex;
    align-items: center;
  }
}

.loader {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 500ms ease-out;
  animation-delay: 800ms;
  animation-fill-mode: forwards;

  h1 {
    font-size: 4em;
    font-weight: 700;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background: #00ae80;
    }

    &::before {
      top: -6px;
      left: 0;
      animation: toLeft 500ms ease-out;
      animation-fill-mode: forwards;
    }

    &::after {
      bottom: -12px;
      right: 0;
      animation: toRight 500ms ease-out;
      animation-fill-mode: forwards;
    }


  }
}

@keyframes toLeft {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes toRight {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes disappear {
  0% {opacity: 1;}
  80% {opacity: 0}
  100% {opacity: 0; visibility: hidden;}
}

