.o-media {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}
.o-media .o-media__image {
  margin: 0 1rem 0 0;
}
.o-media .o-media__body {
  flex: 1;
}
.o-media .o-media__headline {
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}

// Alignment

.o-media.top {
  align-items: flex-start;
}

.o-media.center {
  align-items: center;
}

.o-media.bottom {
  align-items: flex-end;
}

//// Image
.o-media .o-media__image.top {
  align-self: flex-start;
}

.o-media .o-media__image.center {
  align-self: center;
}

.o-media .o-media__image.bottom {
  align-self: flex-end;
}